<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a class="logo" href="/">Promag</a>
        <div class="buttons">
            <a href="logout">logout</a>
        </div>
    </div>
    <div class="main-dashboard">
        <div class="projects">
            <input type="checkbox" id="active">
            <label for="active" class="menu-btn"><span></span></label>
            <label for="active" class="close"></label>
            <h1>All projects</h1>
            <ul class="project-names">
                <li><a class="project-name-link" href="">project 1</a></li>
                <li><a class="project-name-link" href="">project 2</a></li>
                <li><a class="project-name-link" href="">project 3</a></li>
                <li><a class="project-name-link" href="">project 4</a></li>
                <button class="project-btn add-btn">add a new project</button>
            </ul>
        </div>
        <div class="project-details"> 
            <h1>Project 1</h1>
            <select class="dropdo">
                <option value="volvo">                <li><a class="project-name-link" href="">Project 1</a></li></option>
                <option value="saab">                <li><a class="project-name-link" href="">project 1</a></li></option>
              </select>
            <div class="details">
                <div class="details-section">
                    <h2>section-3</h2>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                </div>
                <div class="details-section">
                    <h2>section-3</h2>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                </div>
                <div class="details-section">
                    <h2>section-3</h2>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                    <div class="checklist">
                        <button class="project-btn">pending</button>
                        <h5>ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, tenetur quia id vero sequi aliquam labore culpa quae, et dolorem minima dolores eos odit ipsa at maiores ad, a illo!</h5>
                    </div>
                </div>
                <button class="project-btn add-btn bd">add a new project</button>
            </div>
        </div>
    </div>
</body>
</html>