<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-management</title>
</head>
<body>
    <div class="navbar">
        <h2 class="logo">Promag</h2>
        <div class="buttons">
            <a href="login">Log in</a>
            <a href="signup">Sign up</a>
        </div>
    </div>
    <div class="main-section">
        <h1 class="heading">Promage: <span class="an">All in one solution for project-management</span></h1>
        <h3 class="short-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique alias, delectus at quaerat dignissimos, quae suscipit vero distinctio fugit consequuntur laborum numquam aliquid perspiciatis beatae, hic libero optio excepturi harum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quo qui veniam obcaecati, ab impedit? Natus vitae, soluta modi, ratione vero voluptatum consequatur magni odio ut placeat cupiditate, architecto inventore?</h3>
        <div class="buttons-lg">
            <a href="login">Log in</a>
            <a href="signup">Sign up</a>
        </div>
    </div>
</body>
</html>

