<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-management</title>
</head>
<body>
    <div class="navbar">
        <a class="logo" href="/">Promag</a>
        <div class="buttons">
            <a href="login">login</a>
        </div>
    </div>
    <form action="signup" method="post">
        <h1 class="heading-login">Signup</h1>
        <label for="">Name</label>
        <input type="text" name="Name" id="">
        <label for="">Email</label>
        <input type="text" name="Email" id="">
        <label for="">Password</label>
        <input type="text" name="Password" id="">
        <input class="submit" type="submit">
        <h3 class="message">{{message}}</h3>
    </form>
</body>
</html>